/* 路由过渡效果 */
.fade-enter {
	opacity: 0;
	transform: translateX(-30px);
}

.fade-enter-active,
.fade-exit-active {
	opacity: 1;
	transition: all 500ms ease-out;
	transform: translateX(0);
}

.fade-exit {
	opacity: 0;
	transform: translateX(30px);
}
$borderColor: #d8d8d8;
.app-sider {
	border-right: 1px solid $borderColor;
	overflow-y: auto;
	overflow-x: hidden;
}
.ant-menu-inline {
	border: none;
}
.logo {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: initial;
	font-size: 28px;
	background: transparent;
}
.top-header {
	background: #fff;
	border-bottom: 1px solid $borderColor;
	padding: 0 20px 0 15px;
	position: relative;
	.top-header-inner {
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		.header-title {
			flex: 1;
			padding-left: 15px;
			font-size: 20px;
		}
		.header-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 320px;
			> div {
				margin-left: 20px;
			}
		}
	}
}

.shadow-radius {
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	padding: 10px;
	background-color: #fff !important;
	min-height: 80vh;
}

.public-title {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid rgb(217, 217, 217);
	margin: 0 10px;
	margin-bottom: 10px;
}

.link-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline;
	margin: 0;
	padding: 0;
	color: #1890ff;
}

.link-button:hover,
.link-button:focus {
	text-decoration: none;
}

.tags {
	display: flex;
	padding: 0;
	margin-bottom: 4px;
	width: 100%;
	li {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $borderColor;
		padding: 6px 10px;
		margin-right: 4px;
		cursor: pointer;
		em {
			font-style: normal;
			font-size: 16px;
			margin: 0 3px;
			width: 14px;
			height: 14px;
			margin-top: -2px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.hide {
			display: none;
		}
		span,
		em {
			&:hover {
				color: #1890ff;
			}
		}
	}
	.isActive {
		color: #1890ff;
		em {
			color: #888;
		}
	}
}
.search-form {
	padding: 15px;
	.ant-form-item {
		display: flex;
	}
	.ant-form-item-control-wrapper {
		flex: 1;
	}
}
.serarch-btns {
	display: flex;
	.ant-form-item {
		margin-right: 10px;
	}
}
.breadCrumb {
	padding: 20px;
	padding-bottom: 0;
}

.list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	li {
		width: calc(100% / 8);
		height: 100px;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;

		i {
			font-size: 28px;
			margin-bottom: 5px;
		}
		&:hover {
			background: #e4e4e4;
			transition: all 0.15s ease-in-out 0s;
			i {
				transform: scale(1.5);
				transition: all 0.15s ease-in-out 0s;
			}
		}
	}
}
